Makefile
config.h
config.log
config.status
data/Makefile
doc/Makefile
gphpedit.desktop
intltool-extract
intltool-merge
intltool-update
libtool
pixmaps/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps
src/Makefile
stamp-h1

