Makefile
config.h
config.log
config.status
config.status.lineno
data/Makefile
doc/Makefile
gphpedit.desktop
intltool-extract
intltool-merge
intltool-update
libtool
pixmaps/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps
src/Makefile
stamp-h1
*.[oa]
src/gphpedit
autom4te.cache
patches
gphpedit.spec
po/stamp-it
src/gtkscintilla2/libgtkscintilla2.so.*
src/gtkscintilla2/scintilla/delbin.bat
src/gtkscintilla2/scintilla/delcvs.bat
src/gtkscintilla2/scintilla/test/
src/gtkscintilla2/scintilla/tgzsrc
src/gtkscintilla2/scintilla/vcbuild/
src/gtkscintilla2/scintilla/win32/
src/gtkscintilla2/scintilla/zipsrc.bat
src/gtkscintilla2/scintilla/CVS/
src/gtkscintilla2/scintilla/cocoa/
src/gtkscintilla2/scintilla/doc/
src/gtkscintilla2/scintilla/gtk/CVS/
src/gtkscintilla2/scintilla/macosx/
src/gtkscintilla2/scintilla/include/CVS/
src/gtkscintilla2/scintilla/src/CVS/
src/gtkscintilla2/scintilla/include/Face.pyc
*.cvsignore
