Makefile
config.h
config.log
config.status
config.status.lineno
data/Makefile
doc/Makefile
gphpedit.desktop
intltool-extract
intltool-merge
intltool-update
libtool
pixmaps/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps
src/Makefile
stamp-h1
*.[oa]
src/gphpedit
autom4te.cache
patches
gphpedit.spec
po/stamp-it
